.todoPageContainer {
  max-width: 1200px;
  margin: auto;
}
.todoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}
.todoHeader .fullname {
  font-size: 1.5rem;
  color: rgb(159, 67, 27);
}
.todoHeader button {
  border: none;
  padding: 4px 8px;
  background-color: rgb(237, 82, 82);
  border-radius: 5px;
}
.todoPageInputSection {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.todoPageContainer h2 {
  text-align: center;
  margin: 10px 0px;
}
.todoPageInputSection input {
  width: 100%;
  padding: 6px 5px;
  margin: 15px 0px;
  font-size: 18px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 6px 0px rgb(166, 165, 165);
  border-radius: 10px;
}
.todoPageInputSection textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 70px;
  min-height: 70px;
  padding: 6px 5px;
  font-size: 15px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 6px 0px rgb(166, 165, 165);
  border-radius: 10px;
}
.todoPageInputSection button {
  width: 100px;
  padding: 5px 0px;
  border: none;
  border-radius: 10px;
  margin: 15px auto;
  font-size: 16px;
  background-color: rgb(100, 188, 100);
}
.todoPageItemContainer {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 10px;
}
